body {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  background-color: #f4fce5;
  color: #4b3d2a;
}

.imagem-topo {
  width: 50%;
  max-height:400 px;
  object-fit: cover;
  border-bottom: 5px solid #a8dab5;
}

header {
  background-color: #a8dab5;
  text-align: center;
  padding: 1rem;
  color: #4b3d2a;
}

h1 {
  font-size: 3rem;
  margin: 0.5rem 0 0;
  color: #3e6648;
}

h2 {
  color: #5b4432;
}

main {
  padding: 2rem;
}

.tema, .acao {
  background-color: #e5d4c0;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

ul li {
  margin-bottom: 0.5rem;
  color: #3e4b32;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #c7e6c2;
  color: #3e4b32;
}
body {
  font-family: 'Baloo 2', cursive;
}
